# compiled output
**/dist/**
**/tmp/**

# dependencies
/bower_components/
/node_modules/

**/node_modules/**
**/bower_components/**

# Fixtures
**/packages/@glimmerx/babel-preset/test/**/code.js
**/packages/@glimmerx/babel-preset/test/**/output.js
**/packages/@glimmerx/babel-preset/test/**/code.ts
**/packages/@glimmerx/babel-preset/test/**/output.ts
**/packages/@glimmerx/prettier-plugin-component-templates/test/fixtures/**/code.*
**/packages/@glimmerx/prettier-plugin-component-templates/test/fixtures/**/output.*
