# compiled output
**/dist/**
**/tmp/**

# dependencies
/bower_components/
/node_modules/

**/node_modules/**
**/bower_components/**

# Fixtures
**/packages/@glimmerx/babel-plugin-component-templates/test/**/code.js
**/packages/@glimmerx/babel-plugin-component-templates/test/**/output.js
**/packages/@glimmerx/babel-plugin-component-templates/test/**/code.ts
**/packages/@glimmerx/babel-plugin-component-templates/test/**/output.ts
